@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>
@if (!string.IsNullOrEmpty(ViewBag.Login))
{
    <p>Hello, @ViewBag.Login! You are logged in.</p>
    <a asp-action="Logout">Logout</a>
}
else
{
    <p>You are not logged in. Please <a asp-action="LoginPage">login</a> to access the Dashboard Page.</p>
}